*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
    color: #C1C1C1;
}
body{
   
    background-color: #121212
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    width: 290px;
    background:black;
    padding: 24px;
}
.sidebar .logo img{
    width: 130px;
}
.sidebar .navigation ul{
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(70, 70, 70, 0.3);
    list-style: none;
}
.sidebar .navigation ul li{
    padding: 18px 0px;
}
.sidebar .navigation ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.sidebar .navigation ul li .fa{
    font-size: 20px;
    margin-right: 10px;
}
.sidebar .navigation ul li a :hover{
    color: #ffffff;   
}
.sidebar .policies{
    position: absolute;
    bottom: 100px;
}
.sidebar .policies ul{
    list-style: none;
}
.sidebar.policies ul li {
    padding-bottom: 5px;
}
.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
}
.sidebar .policies ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.main-container{
    margin-left: 350px;
    margin-bottom: 100px;
}
.top-bar{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 14px 30px ;
}
.top-bar .pre-next-buttons{
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin: 10px;
}
.top-bar .navbar{
    display: flex;
    align-items: center;
    
}
.top-bar .navbar ul li {
    list-style: none;
}
.top-bar .navbar ul li {
    display: inline-block;
    margin: 0px 0px ;
    width: 70px;
}
.top-bar  .navbar  ul li  a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
.top-bar  .navbar  ul li  a :hover{
    color: white;
    font-size: 15px;
}
.top-bar  .navbar  button{
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}
.top-bar  .navbar  button :hover{
    background-color: #f2f2f2;
}
.spotify-playlsit{
    padding: 20px 0px;
}
.spotify-playlsit h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlsit .list{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlsit .list .item{
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius:6px ;
    cursor: pointer;
    transition: all ease 0.4s;
}
.spotify-playlsit .list .item :hover{
    background-color: #252525;
}
.spotify-playlsit .list .item img{
    width:100% ;
    border: 6px;
    margin-bottom: 10px;
}
.spotify-playlsit .list .item .play{
    position: relative;
}
.spotify-playlsit .list .item .play .fa{
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}
.spotify-playlsit .list .item:hover .play .fa{
    opacity:1;
    transform: translateY(-20px);
}
.main-footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777 ;
}
.main-footer .footer-coloum{
    flex-basis: 25%;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 20px;
    display: block;
    margin-bottom: 10%;
}
